#frhsd1 {
    height:75%;
    width:auto;
    margin-right: 1px;
    padding-right: 1px;
    padding-bottom: 1px;
}

#textone {
    font-size: 80px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}

#texttwo {
    font-size: 100px;
    border-width: 10px;
    border-color: gray;
    color: gray;
    fill: gray;
    margin: 0px;
    padding: 0px 0px 0px 0px;
}
.carousel-item {
    width:80%;
    height:80%;
    align-items: center;
}

#texttwo #textone {
    padding-bottom: 1px;
    margin-bottom: 1px;
}

#textthree {
text-align: center;
font-size: 20px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-style: italic;
}

.h3 {
text-align: right;
}